{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modification d'un lieu{% endblock %}

{% block body %}
    <h4>Modification du lieu</h4>

    {{ include('lieu/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_lieu_index') }}"><button class="btnAppPerso">
            Retour à la liste
        </button></a>

    {{ include('lieu/_delete_form.html.twig') }}
{% endblock %}
