{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} |Nouveau lieu{% endblock %}

{% block body %}
    <h4>Création d'un lieu</h4>

    {{ include('lieu/_form.html.twig') }}

    <a href="{{ path('app_lieu_index') }}"><button class="btnAppPerso">Retour à la liste</button></a>
{% endblock %}
