{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nouveau participant{% endblock %}

{% block body %}
    <h4>Création d'un participant</h4>

    {{ include('participant/_form.html.twig') }}

    <a href="{{ path('app_participant_index') }}"><button class="btnAppPerso">
            Retour à la liste
        </button></a>
{% endblock %}
