{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nouveau campus{% endblock %}

{% block body %}
    <h4>Création d'un campus</h4>

    {{ include('campus/_form.html.twig') }}

    <a href="{{ path('app_campus_index') }}"><button class="btnAppPerso">
            Retour à la liste
        </button></a>
{% endblock %}
