{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Modification d'une sortie{% endblock %}

{% block body %}
    <h1>Modification de la sortie</h1>

    {{ include('sortie/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_sortie_index') }}">Retour à la liste</a>

    {{ include('sortie/_delete_form.html.twig') }}
{% endblock %}
