{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nouvelle sortie{% endblock %}

{% block body %}
    <h4>Création d'une sortie</h4>

    {{ include('sortie/_form.html.twig') }}

    <a href="{{ path('app_sortie_index') }}"><button class="btnAppPerso">Retour à la liste</button></a>

{% endblock %}
