{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nouvelle ville{% endblock %}

{% block body %}
    <h4>Création une ville</h4>

    {{ include('ville/_form.html.twig') }}

    <a href="{{ path('app_ville_index') }}"><button class="btnAppPerso">Retour à la liste</button></a>
{% endblock %}
