{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nouvelle ville{% endblock %}

{% block body %}
    <h1>Créer une ville</h1>

    {{ include('ville/_form.html.twig') }}

    <a href="{{ path('app_ville_index') }}">Retour à la liste</a>
{% endblock %}
