{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Edit Etat{% endblock %}

{% block body %}
    <h1>Edit Etat</h1>

    {{ include('etat/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_etat_index') }}">Retour à la liste</a>

    {{ include('etat/_delete_form.html.twig') }}
{% endblock %}
