{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nouvel état{% endblock %}

{% block body %}
    <h1>Création d'un état</h1>

    {{ include('etat/_form.html.twig') }}

    <a href="{{ path('app_etat_index') }}">Retour à la liste</a>
{% endblock %}
