{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Nouvel état{% endblock %}

{% block body %}
    <h4>Création d'un état</h4>

    {{ include('etat/_form.html.twig') }}

    <a href="{{ path('app_etat_index') }}"><button class="btnAppPerso">
            Retour à la liste
        </button></a>
{% endblock %}
