<div class="user-nav">

    <div class="user-logo">
        <div>PseudoTest</div>
    </div>
    <div class="user-date">{{ "now" | date("d/m/Y") }}</div>


    {% if (app.user) %}
        <div class="user-logo">
            <div>PseudoTest</div>
        </div>
        <div>{{ "now" | date("d/m/Y") }}</div>

    {% endif %}

</div>
