<div class="user-nav">

    {% if (app.user) %}
        <div class="user-logo">
            {{ app.user.prenom }} {{ app.user.nom }}
        </div>
        <div>{{ "now" | date("d/m/Y") }}</div>
    {% endif %}

</div>
